<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="${usesCleartextTraffic}"
      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="until" android:host="increment-counter" />
        </intent-filter>
      </activity>

      <receiver
        android:name=".UNTILDayWidgetProvider"
        android:exported="true"
        android:label="Until Day">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget_day_info" />
      </receiver>
      <receiver
        android:name=".UNTILMonthWidgetProvider"
        android:exported="true"
        android:label="Until Month">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget_month_info" />
      </receiver>
      <receiver
        android:name=".UNTILYearWidgetProvider"
        android:exported="true"
        android:label="Until Year">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget_year_info" />
      </receiver>
      <receiver
        android:name=".UNTILCounterWidgetProvider"
        android:exported="true"
        android:label="Until Counter">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget_counter_info" />
      </receiver>
      <receiver
        android:name=".UNTILCountdownWidgetProvider"
        android:exported="true"
        android:label="Until Countdown">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget_countdown_info" />
      </receiver>
      <receiver
        android:name=".UNTILDailyTasksWidgetProvider"
        android:exported="true"
        android:label="Until Daily tasks">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget_daily_tasks_info" />
      </receiver>
      <receiver
        android:name=".CounterIncrementReceiver"
        android:exported="true">
        <intent-filter>
          <action android:name="app.until.time.INCREMENT_COUNTER" />
        </intent-filter>
      </receiver>
      <receiver
        android:name=".DailyTasksWidgetTapReceiver"
        android:exported="true">
        <intent-filter>
          <action android:name="app.until.time.TOGGLE_DAILY_TASKS_PAGE" />
        </intent-filter>
      </receiver>
      <receiver
        android:name=".UNTILHourCalculationWidgetProvider"
        android:exported="true"
        android:label="Until Hour calculation">
        <intent-filter>
          <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent-filter>
        <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget_hour_calculation_info" />
      </receiver>
      <receiver
        android:name=".HourCalculationTapReceiver"
        android:exported="true">
        <intent-filter>
          <action android:name="app.until.time.TOGGLE_HOUR_CALCULATION" />
        </intent-filter>
      </receiver>
      <service
        android:name=".UNTILOverlayService"
        android:exported="false"
        android:foregroundServiceType="dataSync" />
    </application>
</manifest>
